<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" charset="utf-8" src="https://secure.aha.io/assets/javascript_api/aha-api.latest.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="Styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div class="navbar">
    <a href="#home">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Actions
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="Merge Page.html">Merge</a>
        </div>
    </div>
    <div class="search-bar"></div>
    <input type="text" id="searchInput" placeholder="Search ideas..." aria-label="Search" oninput="highlightSearch()" onkeydown="checkEnter(event)">

    </div>
</div>

<div class="dashboard">
    <h3>Idea Dashboard</h3>
    <table id="ideaTable">
        <thead>
            <tr>
                <th>Select</th>
                <th>Idea ID</th>
                <th>Idea Name</th>
                <th>Idea Category</th>
                <th>Idea Description</th>
                <th>
                    Idea Assigned To
                    <div class="dropdown" style="display:inline-block; margin-left: 10px;">
                        <button class="dropbtn1">
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#" onclick="sortTable(3, 'asc')">A-Z</a>
                            <a href="#" onclick="sortTable(3, 'desc')">Z-A</a>
                        </div>
                    </div>
                </th>
                <th>Idea Status</th>
                <th>Idea Creation Date</th>
                <th>Idea Votes</th>
                <th>Unique Votes</th>
                <th>Idea Tags</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" onchange="toggleRow(this)"></td>
                <td><a href="ideaDetails.html?id=1">1</a></td>  
                <td><a href="ideaDetails.html?id=1">Idea One</a></td>
                <td><span class="idea-category">Category A</span></td>
                <td>Description of Idea One</td>
                <td><a href="userProfile.html?user=JohnDoe">John Doe</a></td>
                <td><span class="idea-statusComment">Open for Comment</span></td>
                <td>2023-01-01</td>
                <td>10</td>
                <td>8</td>
                <td><span class="idea-tag1">tag1</span>, <span class="idea-tag2">tag2</span></td>
            </tr>
            <tr>
                <td><input type="checkbox" onchange="toggleRow(this)"></td>
                <td><a href="ideaDetails.html?id=2">2</a></td>  
                <td><a href="ideaDetails.html?id=2">Idea Two</a></td>
                <td><span class="idea-category">Category B</span></td>
                <td>Description of Idea Two</td>
                <td><a href="userProfile.html?user=JaneSmith">Jane Smith</a></td>
                <td><span class="idea-statusReview">Under Review</span></td>
                <td>2023-02-01</td>
                <td>15</td>
                <td>12</td>
                <td><span class="idea-tag3">tag3</span>, <span class="idea-tag4">tag4</span></td>
            </tr>
            <tr>
                <td><input type="checkbox" onchange="toggleRow(this)"></td>
                <td><a href="ideaDetails.html?id=3">3</a></td>  
                <td><a href="ideaDetails.html?id=3">Idea Three</a></td>
                <td><span class="idea-category">Category C</span></td>
                <td>Description of Idea Three</td>
                <td><a href="userProfile.html?user=JohnnyCash">Johnny Cash</a></td>
                <td><span class="idea-statusShipped">Shipped</span></td>
                <td>2023-02-10</td>
                <td>22</td>
                <td>14</td>
                <td><span class="idea-tag3">tag3</span>, <span class="idea-tag2">tag2</span></td>
            </tr>
            <tr>
                <td><input type="checkbox" onchange="toggleRow(this)"></td>
                <td><a href="ideaDetails.html?id=4">4</a></td>  
                <td><a href="ideaDetails.html?id=4">Idea Four</a></td>
                <td><span class="idea-category">Category A</span></td>
                <td>Description of Idea Four</td>
                <td><a href="userProfile.html?user=BobDylan">Bob Dylan</a></td>
                <td><span class="idea-statusProgress">In Progress</span></td>
                <td>2023-03-15</td>
                <td>30</td>
                <td>18</td>
                <td><span class="idea-tag4">tag4</span>, <span class="idea-tag1">tag1</span></td>
            </tr>
            <tr>
                <td><input type="checkbox" onchange="toggleRow(this)"></td>
                <td><a href="ideaDetails.html?id=6">6</a></td>  
                <td><a href="ideaDetails.html?id=6">Idea Six</a></td>
                <td><span class="idea-category">Category C</span></td>
                <td>Description of Idea Six</td>
                <td><a href="userProfile.html?user=EltonJohn">Elton John</a></td>
                <td><span class="idea-statusExist">Already Exist</span></td>
                <td>2023-05-25</td>
                <td>12</td>
                <td>5</td>
                <td><span class="idea-tag6">tag6</span>, <span class="idea-tag3">tag3</span></td>
            </tr>
            <tr>
                <td><input type="checkbox" onchange="toggleRow(this)"></td>
                <td><a href="ideaDetails.html?id=7">7</a></td>  
                <td><a href="ideaDetails.html?id=7">Idea Seven</a></td>
                <td><span class="idea-category">Category A</span></td>
                <td>Description of Idea Seven</td>
                <td><a href="userProfile.html?user=TaylorSwift">Taylor Swift</a></td>
                <td><span class="idea-statusProgress">In Progress</span></td>
                <td>2023-06-30</td>
                <td>28</td>
                <td>22</td>
                <td><span class="idea-tag7">tag7</span>, <span class="idea-tag1">tag1</span></td>
            </tr>
            <tr>
                <td><input type="checkbox" onchange="toggleRow(this)"></td>
                <td><a href="ideaDetails.html?id=8">8</a></td>  
                <td><a href="ideaDetails.html?id=8">Idea Eight</a></td>
                <td><span class="idea-category">Category B</span></td>
                <td>Description of Idea Eight</td>
                <td><a href="userProfile.html?user=BillieEilish">Billie Eilish</a></td>
                <td><span class="idea-statusFuture">Future Development</span></td>
                <td>2023-07-12</td>
                <td>36</td>
                <td>19</td>
                <td><span class="idea-tag8">tag8</span>, <span class="idea-tag4">tag4</span></td>
            </tr>
            <tr>
                <td><input type="checkbox" onchange="toggleRow(this)"></td>
                <td><a href="ideaDetails.html?id=9">9</a></td>  
                <td><a href="ideaDetails.html?id=9">Idea Nine</a></td>
                <td><span class="idea-category">Category C</span></td>
                <td>Description of Idea Nine</td>
                <td><a href="userProfile.html?user=FreddieMercury">Freddie Mercury</a></td>
                <td><span class="idea-statusTerminated">Terminated</span></td>
                <td>2023-08-15</td>
                <td>50</td>
                <td>30</td>
                <td><span class="idea-tag9">tag9</span>, <span class="idea-tag2">tag2</span></td>
            </tr>
        </tbody>
        
        
        
    </table>
</div>

<!-- Context menu for right-click -->
<div class="context-menu" id="contextMenu">
    <div onclick="deleteColumn()">Delete Column</div>
</div>


<script>
    function sortTable(columnIndex, order) {
        const table = document.getElementById("ideaTable");
        const rows = Array.from(table.rows).slice(1);
        const sortedRows = rows.sort((a, b) => {
            const cellA = a.cells[columnIndex].innerText.toLowerCase();
            const cellB = b.cells[columnIndex].innerText.toLowerCase();
            return order === 'asc' ? cellA.localeCompare(cellB) : cellB.localeCompare(cellA);
        });
        const tbody = table.tBodies[0];
        tbody.innerHTML = "";
        sortedRows.forEach(row => tbody.appendChild(row));
    }

    function toggleRow(checkbox) {
        const row = checkbox.closest('tr');
        if (checkbox.checked) {
            row.classList.add('selected');
        } else {
            row.classList.remove('selected');
        }
    }
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
        let currentColumnIndex;
    $(function() {
        // Make table headers sortable
        $("#ideaTable thead tr").sortable({
            items: "th",
            cursor: "move",
            axis: "x",
            stop: function(event, ui) {
                var newOrder = $(this).children().map(function() {
                    return $(this).index();
                }).get();

                // Rearrange each row's cells based on new order
                $('#ideaTable tbody tr').each(function() {
                    var row = $(this);
                    var cells = row.children('td').detach();
                    var newCells = [];

                    $.each(newOrder, function(index, value) {
                        newCells.push(cells.eq(value));
                    });

                    // Append the new ordered cells
                    $.each(newCells, function(index, cell) {
                        row.append(cell);
                    });
                });
            }
        }).disableSelection();
    });


    // Function to highlight search terms
    function highlightSearch() {
        const input = document.getElementById('searchInput').value;
        const table = document.getElementById('ideaTable');
        const rows = table.getElementsByTagName('tr');

        // Remove previous highlights
        for (let i = 1; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            for (let j = 0; j < cells.length; j++) {
                cells[j].innerHTML = cells[j].innerHTML.replace(/<span class="highlight">(.*?)<\/span>/g, '$1');
            }
        }

        // Highlight new search term
        if (input) {
            const regex = new RegExp(input, 'gi');
            for (let i = 1; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('td');
                for (let j = 0; j < cells.length; j++) {
                    cells[j].innerHTML = cells[j].innerHTML.replace(regex, (match) => `<span class="highlight">${match}</span>`);
                }
            }
        }
    }

    // Function to delete a column
    function deleteColumn() {
        if (currentColumnIndex !== undefined) {
            const table = document.getElementById("ideaTable");
            const headers = table.getElementsByTagName('th');
            const rows = table.getElementsByTagName('tr');

            // Remove header cell
            headers[currentColumnIndex].remove();

            // Remove corresponding cells from each row
            for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('td');
                if (cells[currentColumnIndex]) {
                    cells[currentColumnIndex].remove();
                }
            }

            // Hide context menu
            document.getElementById("contextMenu").style.display = "none"; 
        }
    }

    // Toggle row selection
    function toggleRow(checkbox) {
        const row = checkbox.closest('tr');
        if (checkbox.checked) {
            row.classList.add('selected');
        } else {
            row.classList.remove('selected');
        }
    }

    // Sort table function
    function sortTable(columnIndex, order) {
        const table = document.getElementById("ideaTable");
        const rows = Array.from(table.rows).slice(1);
        const sortedRows = rows.sort((a, b) => {
            const cellA = a.cells[columnIndex].innerText.toLowerCase();
            const cellB = b.cells[columnIndex].innerText.toLowerCase();
            return order === 'asc' ? cellA.localeCompare(cellB) : cellB.localeCompare(cellA);
        });
        const tbody = table.tBodies[0];
        tbody.innerHTML = "";
        sortedRows.forEach(row => tbody.appendChild(row));
    }

    // Right-click context menu
    document.querySelectorAll('#ideaTable th').forEach((th, index) => {
        th.addEventListener('contextmenu', function (e) {
            e.preventDefault();
            currentColumnIndex = index; // Store the current column index
            const contextMenu = document.getElementById("contextMenu");
            contextMenu.style.display = "block";
            contextMenu.style.top = e.pageY + 'px';
            contextMenu.style.left = e.pageX + 'px';
        });
    });

    // Hide context menu when clicking elsewhere
    document.addEventListener('click', function() {
        document.getElementById("contextMenu").style.display = "none";
    });

</script>

</body>
</html>
