<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idea Dashboard</title>
    <link rel="stylesheet" href="../static/MergeStyles.css">


    </style>
</head>
<header>
<a href="{{ url_for('test_database', page=1) }}"><img class="NavbarLogo" src="../static/Pictures/CPSI_107301_Intranet_logo_resizes_V1.png" alt="TruBridge Logo"></a>
    <div class="navbar">
        <a href="{{ url_for('test_database', page=1) }}">Home</a>
    </div>
    </header>
    <h1>Product Owner Tool Dashboard</h1>

<body >
  <form method="POST">
    <label for="main_idea">Main Idea:</label>
    <select id="main_idea" name="main_idea">
        {% for idea in ideas %}
        <option value="{{ idea['Idea Reference'] }}">{{ idea['Idea Reference'] }} - {{ idea['Name'] }}</option>
        {% endfor %}
    </select>

    <label for="secondary_idea">Secondary Idea:</label>
    <select id="secondary_idea" name="secondary_idea">
        {% for idea in ideas %}
        <option value="{{ idea['Idea Reference'] }}">{{ idea['Idea Reference'] }} - {{ idea['Name'] }}</option>
        {% endfor %}
    </select>

    <button type="submit">Merge Ideas</button>
</form>
</body>
</html>
