/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    background-color: #F2F0EF;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Login Container Styling */
.login-container {
    background-color: #F2F0EF;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

/* Login Header Styling */
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Input Group Styling (for input fields and icons) */
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}

/* Input Icon Styling */
.input-group i {
    font-size: 18px;
    color: #00BD52;
    margin-right: 0.5em; /* space between icon and input */
}

/* Input Field Styling */
.input-group input {
    width: 100%;
    padding: 0.5em;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

/* Focused Input Field Styling */
.input-group input:focus {
    border-color: #00BD52;
    background-color: #fff;
}

/* Login Button Styling */
.login-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #00BD52;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Login Button Hover Effect */
.login-btn:hover {
    background-color: #008A58;
}
